#proyectos {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.col-7 {
  width: 100%;
  height: 160px;
  display: block;
  -webkit-transition: height 500ms linear;
  -ms-transition: height 500ms linear;
  transition: height 500ms linear;
}
.col-3 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.title {
  text-transform: capitalize;
  text-shadow: 1px 1px #000000;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  line-height: 13.2vh;
  margin-left: 2rem;
}
.subtitle {
  font-weight: 700;
}
.col-3 h2 {
  line-height: 6.6vh;
}
.fader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.col-7{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-7:hover{
  cursor: pointer;
}

#ADMAS .col-7{
  background-image: url(https://cimb.com.mx/img/proyectos/main/ADMAS.jpg);
}
#DOMO .col-7{
  background-image: url(https://cimb.com.mx/img/proyectos/main/domo.jpg);
}
#ICARUS .col-7{
  background-image: url(https://cimb.com.mx/img/proyectos/main/ICARUS.jpg);
}
#EXP .col-7{
  background-image: url(https://cimb.com.mx/img/proyectos/main/exp.jpg);
}
#AGR .col-7{
  background-image: url(https://cimb.com.mx/img/proyectos/main/agr.jpg);
}
    
#ADAS .col-7{
    background-image: url((https://cimb.com.mx/img/proyectos/ADMAS/ago16/ADAS.jpg); 
}

.periodo-wrapper{
    width: 100vw;
    max-width: 960px;
    height: 50px;
    background-color:rgba(0,0,0,.2);
    padding-left: 20px;
}

.periodo{
    font-size: 16px;
    width: 90%;
    height: 50px;
    background-color:rgba(0,0,0,0);
    color: black;
    border: 0;
    font-family: "Montserrat", sans-serif;
 
}
.info {
  display: none;
  padding: 2rem;
  color: #4a4a4a;
  text-align: justify;
}

.info p {
  margin-bottom: 1rem;
}

.extra-menu{
    height: 40px;
    width: 100vw;
    max-width: 960px;
    background-color: rgba(24,43,69);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: -35px;
    margin-left: -32px;
    border: 0px;
}

.extra-menu p{
    color: white;
    line-height: 40px;
    text-align: center;
    margin-bottom: 0 !important ;
    font-weight: 900;    
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
    margin-left: 0.5rem;
  }
}
