footer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  min-height: 40vh;
  background-color: #122c47;
  font-size: 0.9rem;
  padding: 3rem;
}

footer > div {
  flex: 0 0 320px;
}

.trademark {
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}

footer a,
footer {
  color: #fff;
}

footer a:hover {
  color: #fff;
  font-weight: 700;
}

footer ul li {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-left a:first-of-type {
  margin-bottom: 3rem;
}

.footer-left a {
  margin: 1rem auto;
  max-width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
}

footer h3 {
  margin: 2rem 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.contact-socials {
  border: 0;
  display: flex;
  justify-content: flex-start;
}

.contact-socials a {
  margin: 0 1rem 0 0;
  font-size: 2rem;
}

.contact-socials a:hover {
  font-weight: 400;
}

@media only screen and (max-width: 1080px) {
  footer {
    padding: 1rem;
  }

  .footer-left {
    margin-top: 2rem;
  }

  .footer-left a {
    margin-bottom: 2rem;
  }
}
