.navbar {
  background-color: #122c47 !important;
  min-height: 4rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.navbar-brand .navbar-item {
  border: 0;
}

.navbar-brand img {
  max-height: 3rem !important;
  height: 3rem !important;
  width: auto;
}

.navbar-item {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-item:hover {
  background-color: inherit !important;
}

.navbar-burger span {
  color: rgba(255, 255, 255, 0.9) !important;
}

@media only screen and (max-width: 1080px) {
  .navbar-item {
    color: #4a4a4a;
    text-align: right;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    min-height: 3rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  .navbar-brand {
    padding: 0.5rem 1rem;
    min-height: 3rem;
  }

  .navbar-burger {
    min-height: 3rem;
    max-height: 3rem;
  }
  .navbar-brand .navbar-item img {
    max-height: 2rem !important;
  }

  #mainNav {
    padding: 0;
  }
}
